@model FinancialPortal.Models.Household

@{
    ViewBag.Title = "Details";
}

<h2>Household</h2>



<div class="well">
    @foreach (var item in Model.Users)
    {
        <h4>Users</h4>
        @item.Email
    }
</div>

<div>
    <p>Invite others to household</p>
    <input name="email" type="email" placeholder="user@mydomain.com" /> <input type="submit" value="Submit">
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
