@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Money Manager</h1>
    <p class="lead">Money manager helps you organize and simplify your budgets and money all in one place..</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is Money Manager</h2>
        <p>
            Money monager is a tool for helping households managed budgedts and checking accounts.
        </p>
        </div>
    <div class="col-md-4">
        <h2>Organize Your Money</h2>
        <p>Money monager will help you organize your money all in one place.</p>
    </div>
    <div class="col-md-4">
        <h2>Budget Simplification</h2>
        <p>Money mananger helps you simplify your budgets.</p>
        
    </div>
</div>